<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h6 matSubheader class="m-4"><mat-icon>admin_panel_settings</mat-icon> <span>Admin Dashboard</span></h6>
     
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> <span>Home</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> <span>Dashboard</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/task">
      <mat-icon>accessibility_new</mat-icon> <span>Task</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/setting">
      <mat-icon>settings</mat-icon> <span>Settings</span>
    </a>
    
  </mat-nav-list>
  